.midi-interface {
    /* general UI (not user-editable) */
    --dark-bg: #020100;
    --dark-font: #333; /* was #222121; */
    --light-bg: #e5e5e5;
    --light-font: #222121;
    --btn-grey: #d8d8d8;
    --btn-light-grey: #eee;

    /* piano */
    --keys-white-dark: #222121;
    --keys-black-dark: #131313;
    --keys-white-light: #f6f6f6;
    --keys-black-light: #222121;

    /* user-editable */
    /* primary colour */
    --dark-active: #00c7ff;
    --light-active: #00c7ff;
    --dark-hover: rgba(0, 199, 255, 0.8); /* derived from primary colour */
    --light-hover: rgba(0, 199, 255, 0.8); /* derived from primary colour */

    /* user-editable */
    /* grid buttons */
    --button-c-dark: #fff;
    --button-middle-c-dark: #fff;
    --button-black-dark: #fff;
    --button-white-dark: #fff;
    --button-active-dark: #fff;
    --button-c-light: #fff;
    --button-middle-c-light: #fff;
    --button-black-light: #fff;
    --button-white-light: #fff;
    --button-active-light: #fff;

    padding: 0 0 48px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    user-select: none;
    background: var(--dark-bg);
    color: var(--dark-font);
    position: relative;
    .options {
        .icon path {
            fill: var(--dark-font);
        }
        .options-cat {
            label:hover {
                svg path {
                    fill: var(--dark-hover);
                }
            }
            input[type='range']::-webkit-slider-thumb {
                background: var(--dark-active);
            }
            &.options-modal {
                label.active {
                    svg path {
                        fill: var(--dark-active);
                    }
                }
                .modal-row {
                    label {
                        &:hover {
                            background: var(--btn-light-grey);
                        }
                        &.active {
                            background: var(--dark-active);
                        }
                    }
                }
            }
        }
    }

    .chordfinder {
        p span {
            color: var(--dark-active);
        }
    }
    &.light {
        background: var(--light-bg);
        color: var(--light-font);
        .options {
            .icon path {
                fill: var(--light-font);
            }
            .options-cat {
                label:hover {
                    svg path {
                        fill: var(--light-hover);
                    }
                }
                input[type='range']::-webkit-slider-thumb {
                    background: var(--light-active);
                }
                &.options-modal {
                    label.active {
                        svg path {
                            fill: var(--light-active);
                        }
                    }
                    .modal-row {
                        label {
                            &:hover {
                                background: var(--btn-light-grey);
                            }
                            &.active {
                                background: var(--light-active);
                            }
                        }
                    }
                }
            }
        }
        .chordfinder {
            p span {
                color: var(--font-dark);
            }
        }
    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 32px;
    }

    .header {
        padding: 32px 0 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        header {
            h1 {
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                img {
                    width: 300px;
                }
            }
        }
    }

    .start-modal {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            margin-top: 300px;
            padding: 24px;
            border: none;
            outline: transparent;
            font-family: inherit;
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--dark-font);
            background: var(--dark-bg);
            box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.5);
            cursor: pointer;
            &:hover {
                color: var(--dark-hover);
            }
        }
    }

    @media (max-width: 500px) {
        .start-modal {
            height: 150vw;
        }
    }

    .options {
        padding: 32px 0 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .options-cat {
            width: 32px;
            margin-left: 16px;
            position: relative;
            label {
                position: relative;
                cursor: pointer;
                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }
            }
            input[type='checkbox'],
            input[type='radio'] {
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;
            }
            input[type='range'] {
                transform: rotate(-90deg) translateX(-110px) translateY(2px);
                transform-origin: 0px 0px;
                cursor: pointer;
                -webkit-appearance: none;
                &:focus {
                    outline: none;
                }
            }
            input[type='range']::-webkit-slider-thumb {
                height: 16px;
                width: 16px;
                margin-top: -6px;
                border-radius: 50%;
                cursor: pointer;
                -webkit-appearance: none;
            }
            input[type='range']::-webkit-slider-runnable-track {
                height: 6px;
                border: 1px solid #999;
                border-radius: 100px;
                background: var(--btn-light-grey);
            }

            &.options-modal {
                position: relative;
                .modal {
                    padding: 24px;
                    background: #fff;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    z-index: 200;
                    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.5);
                    &.modal-volume {
                        width: 60px;
                        height: 160px;
                    }
                    &.modal-styles {
                        width: 200px;
                    }
                    &.modal-menu {
                        width: 340px;
                    }
                }
                .modal-title {
                    margin-bottom: 8px;
                    font-size: 20px;
                    color: #333;
                    letter-spacing: 2px;
                }
                .modal-row {
                    display: flex;
                    margin-bottom: 24px;
                    padding-bottom: 24px;
                    border-bottom: 1px solid var(--dark-font);
                    label {
                        padding: 4px 8px;
                        margin: 0 4px 4px 0;
                        background: var(--btn-grey);
                        font-size: 1.125em;
                        letter-spacing: 1px;
                        color: #333;
                    }
                    &:last-of-type {
                        border-bottom: none;
                    }
                    &.modal-row-notes {
                        flex-wrap: wrap;
                        label {
                            width: 40px;
                        }
                    }
                    &.colour-inputs {
                        padding: 12px 0;
                        margin-bottom: 0;
                        justify-content: space-between;
                        align-items: center;
                        label {
                            padding: 4px 8px 4px 0;
                            background: #fff;
                        }
                        input {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .popup {
            width: 320px;
            padding: 12px;
            display: none;
            position: absolute;
            top: 32px;
            right: -32px;
            z-index: 998;
            background: white;
            box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.3);
            > div:nth-child(1) {
                margin-bottom: 24px;
            }
            > div:nth-child(2) {
                display: flex;
                justify-content: space-between;
            }
            .btn {
                padding: 4px 8px;
                display: block;
                font-family: inherit;
                font-size: 1rem;
                letter-spacing: inherit;
                text-decoration: none;
                background: var(--btn-grey);
                border: none;
                border-radius: 0;
                outline: transparent;
                cursor: pointer;
                &:hover {
                    background: var(--btn-light-grey);
                }
            }
            &:hover {
                display: flex;
                flex-direction: column;
            }
        }
        #trigger-popup:hover + .popup {
            display: flex;
            flex-direction: column;
        }
    }

    .linn {
        margin: 0 auto 8px;
        display: grid;
        &.linn-8x8 {
            max-width: 560px;
            grid-template-columns: repeat(8, 1fr);
        }
        &.linn-14x12 {
            max-width: 800px;
            grid-template-columns: repeat(14, 1fr);
        }
        &.linn-16x8 {
            max-width: 800px;
            grid-template-columns: repeat(16, 1fr);
        }
        &.linn-25x8 {
            max-width: 1000px;
            grid-template-columns: repeat(25, 1fr);
        }
        border: 1px solid #000;
        .linn-btn {
            padding-top: 100%;
            font-family: inherit;
            font-size: 12px;
            border: 1px solid #000;
            border-radius: 0;
            outline: transparent;
            position: relative;
            cursor: pointer;
            transition: background-color 0.4s;
            transition-timing-function: cubic-bezier(0, 0.7, 0.5, 1);
            .btn-label {
                position: absolute;
                top: 10%;
                left: 10%;
                color: var(--button-active-dark);
                display: none;
            }
            &.btn-labels .btn-label {
                display: block;
            }
            &.btn-c {
                background: var(--button-c-dark);
            }
            &.btn-middle-c {
                background: var(--button-middle-c-dark);
            }
            &.btn-black {
                background: var(--button-black-dark);
            }
            &.btn-white {
                background: var(--button-white-dark);
            }
            &:hover {
                background: var(--dark-hover);
                span {
                    color: var(--dark-font);
                    font-size: 15px;
                    display: block;
                }
            }
            &.btn-active {
                background: var(--button-active-dark);
                span {
                    color: var(--dark-font);
                    font-size: 15px;
                    display: block;
                }
            }
            &.show-channels {
                .btn-channel {
                    padding: 2px 4px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 16px;
                    color: var(--light-bg);
                }

                &.channel-144 {
                    background: #21ffff7c !important;
                }
                &.channel-147 {
                    background: #ff8724d0 !important;
                }
                &.channel-145 {
                    background: #ff669ccb !important;
                }
                &.channel-146 {
                    background: #92a2ff7c !important;
                }
                &.channel-148 {
                    background: #5bca0085 !important;
                }
                &.channel-149 {
                    background: #ff363685 !important;
                }
            }
        }
        &.light {
            .linn-btn {
                .btn-label {
                    color: var(--dark-font);
                }
                .btn-channel {
                    color: var(--dark-font);
                }
                &.btn-c {
                    background: var(--button-c-light);
                }
                &.btn-middle-c {
                    background: var(--button-middle-c-light);
                }
                &.btn-black {
                    background: var(--button-black-light);
                }
                &.btn-white {
                    background: var(--button-white-light);
                }
                &:hover {
                    background: var(--light-hover);
                }
                &.btn-active {
                    background: var(--button-active-light);
                }
            }
        }
    }

    .piano {
        margin-bottom: 32px;
        svg {
            .white {
                fill: var(--keys-white-dark);
                stroke: #000000;
                stroke-width: 4;
            }
            .black {
                fill: var(--keys-black-dark);
                stroke: #000000;
                stroke-width: 4;
            }
            g rect {
                cursor: pointer;
                transition: fill 0.2s;
                &:hover {
                    fill: var(--dark-active);
                }
                &:hover + .label {
                    opacity: 1;
                }
                &.active {
                    fill: var(--dark-active);
                }
            }
            .label {
                opacity: 0;
                transition-timing-function: cubic-bezier(0, 0.7, 0.5, 1);
                fill: var(--dark-active);
                font-size: 36px;
                tspan {
                    font-size: 25px;
                }
                &.active {
                    opacity: 1;
                }
            }
        }
        &.light {
            svg {
                .white {
                    fill: var(--keys-white-light);
                    stroke: #000000;
                }
                .black {
                    fill: var(--keys-black-light);
                    stroke: #000000;
                }
                g rect {
                    &:hover {
                        fill: var(--light-active);
                    }
                    &.active {
                        fill: var(--light-active);
                    }
                }
                .label {
                    fill: var(--light-font);
                }
            }
        }
    }

    .status-info {
        height: 50px;
        display: flex;
        align-items: flex-start;
        button {
            width: 120px;
            padding: 8px 0;
            margin-right: 32px;
            background: var(--dark-font);
            border: none;
            outline: none;
            font-family: inherit;
            font-weight: bold;
            text-transform: lowercase;
            letter-spacing: 1px;
            color: #777;
            cursor: pointer;
            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    .chordfinder {
        p {
            padding: 16px 0 0;
            text-align: right;
            span {
                margin-right: 16px;
                display: inline-block;
                font-size: 20px;
            }
        }
    }

    .midi {
        width: 200px;
        color: #777;
        display: none;
        &.visible {
            display: flex;
        }
        h4 {
            padding-right: 16px;
        }
        p {
            font-size: 14px;
        }
    }

    footer {
        padding: 64px 0 32px;
        p {
            text-align: right;
        }
    }

    .MIDISounds {
        display: none;
    }
    .ReactModalPortal {
        display: none;
    }
}
